src/*.exe
src/neutrino
src/neutrinod
src/test_neutrino
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.neutrinocoi

# Compilation and Qt preprocessor part
*.qm
Makefile
neutrino-qt
Neutrinocoin-Qt.app
neutrino-qt
Neutrino-Qt.app

# Unit-tests
Makefile.test
neutrino-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
